$--font-path: '~element-plus/theme-chalk/fonts';
$--color-primary: hotpink;

$white: #ffffff;
$bg-gary: #f0f3f4;
$text-color: #606266;

$sideBar-width: 200;
$sideBar-small-width: 65;
$sideBar-bg: #3a3f51;

$header-height: 60;
$header-border: #454b61;

$spacing-15: 15px;
$spacing-40: 40px;

$zIndex-header: 999;

$avatar-size: 60px;

%width-height {
  width: 100%;
  height: 100%;
}

%link-pointer {
  cursor: pointer;
}

%title-style {
  font-size: 1.8em;
  font-weight: bolder;
}
